.reveal pre code {
    max-height: 600px !important;
    line-height: initial;
    font-size: 1.2em;
}
.reveal {
    font-size: 2em;
    --r-heading-font: Roobert;
    --r-heading-font-weight: bold;
    --r-main-font: Roobert Medium;
}

code {
    font-family: Iosevka !important;
}

:not(pre) > code {
    background: #f6f7f6;
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
}
